name: Quality Checks

on:
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: jdx/mise-action@v3

      - name: Install dependencies
        run: mise run dependencies

      - name: Type check
        run: mise run type-check

      - name: Lint
        run: mise run lint

      - name: Check code formatting
        run: mise run format-check

      - name: Run tests
        run: mise run test
